@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* scrollbar-width: none; */
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  /* display: none; */
}

:root {
  --pagedjs-margin-top: 12.5mm !important;
  --pagedjs-margin-right: 12.5mm !important;
  --pagedjs-margin-bottom: 12.5mm !important;
  --pagedjs-margin-left: 12.5mm !important;
}

.__box {
  background-color: #ea580c1a;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23EA580CFF' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='33' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 22px;
}

.__fill-height {
  height: calc(100svh - 5rem);
}

.__table-border {
  border-width: 1px 1px 1px 0;
  border-color: black;
  /* border: 1px solid black; */
  padding-inline: 6px;
}
.__accordion-btn,
button {
  padding-block: 0.5rem !important;
  box-shadow: none;
  background-color: transparent;
}

.__scaled-element {
  transform-origin: top right;
  transform: scale(0.5);
}
td {
  width: 33.33%;
  border: 1px solid black;
  padding: 2px;
}

.__a4-page > * {
  font-size: 11pt;
}

.__shadow-none {
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  padding-inline-start: 0.5rem !important;
  height: fit-content !important;
}

.pagedjs_pages {
  transform-origin: top left;
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.pagedjs_page {
  size: A4;
}
.pagedjs_sheet {
  background-color: white;
  border: 1px solid rgb(191, 191, 191);
  margin: 0;
  width: 210mm;
  height: 297mm;
}
::placeholder {
  color: gray !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: gray !important;
}
.destructive {
  color: red;
}

.DragHandle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.DragHandle:focus-visible {
  box-shadow: 0 0px 0px 2px #4c9ffe;
}

.DragHandle svg {
  flex: 0 0 auto;
  margin: auto;
  height: 100%;
  overflow: visible;
  fill: #919eab;
}

.print-page {
  margin-bottom: 34px;
  padding: 10px;
  width: 794px;
  height: 1123px;
  background-color: white;
}
.cover {
  margin-top: 100px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@page {
  size: A4;
  margin-top: 10mm;
  font-size: 11pt;
  margin-right: 20mm;
  margin-bottom: 25mm;
  margin-left: 15mm;
  background-color: white;

  @bottom-left {
    content: counter(page);
    text-transform: uppercase;
  }
}
