@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4 portrait;
  margin: 5mm;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.x {
  page-break-after: always;
  break-after: page;
}

.__box {
  background-color: #ea580c1a;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23EA580CFF' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='33' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 22px;
}

.__fill-height {
  height: calc(100svh - 5rem);
}

.__table-border {
  border-width: 1px 1px 1px 0;
  border-color: black;
  /* border: 1px solid black; */
  padding-inline: 6px;
}
.__accordion-btn,
button {
  padding-block: 0.5rem !important;
  box-shadow: none;
  background-color: transparent;
}

.__scaled-element {
  transform-origin: top right;
  transform: scale(0.5);
}
td {
  width: 33.33%;
  border: 1px solid black;
  padding: 2px;
}
.__a4-page > * {
  font-size: 11pt;
}
@media print {
  .__a4-page {
    width: 210mm;
    min-height: 297mm;
    padding: 11mm;
    box-sizing: border-box;
    scale: 2;
    font-family: __Bricolage_Grotesque_9b492f;
  }
}

.__shadow-none {
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  padding-inline-start: 0.5rem !important;
  height: fit-content !important;
}

.pdf-style .doc-element {
  transform: translateY(-8px);
}

.pdf-style h6 {
  transform: translateY(-8px);
}
